<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <%- include('header/header.ejs')%>
        <h2> Agenda: </h2>
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                    <th>Show</th>
                </tr>
            </thead>
            <tbody>
                <% agendaSelectDate.forEach((event, index) => { %>
                    <tr>
                        <td><%-event.time%></td>
                        <td id="event-content<%-index%>"><%-event.eventContent%></td>
                        <% if(event.isChecked === true) { %>
                            <td><input id="check<%-index%>" type="checkbox" onclick="checkChanger('<%= `check${index}`%>', '<%= event.index %>', '<%= event.year %>', '<%= event.month %>', '<%= event.date %>')" checked></td>
                        <%} else {%>
                            <td><input id="check<%-index%>" type="checkbox" onclick="checkChanger('<%= `check${index}`%>', '<%= event.index %>', '<%= event.year %>', '<%= event.month %>', '<%= event.date %>')"></td>
                        <%}%>
                        <td><button onclick="window.location.href = '<%= actionEdit %>/<%= event.index %>' " >Edit</button></td>
                        <td><button onclick="deleteEvent('<%= event %>', '<%= event.index %>')">Delete</button></td>
                    </tr>
                <% })%>
            </tbody>
        </table>
        <button onclick="window.location.href = '<%= actionAdd %>'" id="btn">Add Event</button>
        <p id="text" style="display:none">Checkbox is CHECKED!</p>

        <script>
            function deleteEvent(event, index){
                const route = '/agenda/delete/' + (Number(index) + 1);
                fetch(route, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type' : 'application-json'
                    }, 
                    body: JSON.stringify({event: event, index: index})
                }).then(data => {
                    location.reload();
                })
                .catch(err => {
                    console.log('Error while editing event: ' + err);
                })
            }

            const text = document.getElementById('text');

            function checkChanger(checkID, id, year, month, date) {
                const checkBox = document.getElementById(checkID);
                let isChecked;
                if (checkBox.checked == true){
                    
                    console.log("checked");
                    isChecked = true;

                } else {
                    console.log("not checked");
                    isChecked = false;
                }
                console.log(id);
                console.log(isChecked);

                fetch(`/agenda/${year}/${month}/${date}/edit/${id}`, {
                    method: 'POST',
                    headers: {
                    "Content-Type": "application/json"
                    },
                    body: JSON.stringify({isChecked: isChecked})
                }) .catch(err => {
                    console.log('Error while editing event: ' + err);
                })
            }
            // checkChanger();
        </script>
    </body>
</html> 